body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

.navbar {
    margin: 0;
    padding: 0;

    height: 7em;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid  rgba(176, 196, 222, 0.429);;
}

.navIzq {
    height: 7em;
    width: 33.3%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userPic {
    height: 6.5em;
    width: 30%;
    padding-right: .5em;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} 

.userDetail {
    height: 6.5em;
    width: 70%;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: darkslategrey;

}

.userDetailUsername {
    font-weight: bolder;
    font-size: 1.5em;
}

.usePicDetail{ 
    border-radius: 3em;
}
.navMed {
    height: 7em;
    width: 33.3%;
    background-color: lightgreen;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

 .reachchart {
    height: 7em;
    width: 33.3%;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
} 

.reachchartDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 120px !important;
    width: 120px !important;
}

 .relevanceChart {
    height: 7em;
    width: 33.3%;
    background-color: blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

 .resonanceChart {
    height: 7em;
    width: 33.3%;
    background-color: yellow;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.navDer {
    height: 7em;
    width: 33.3%;
    /* background-color: lightpink; */
    padding-right: 2em;

    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;
}

.main {
    height: 39.2em;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: rgba(176, 196, 222, 0.429);
} 

.columnIzq {
    height: 39.2em;
    width: 33.3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.audienciaTitulo {
    height: 4em;
    width: 98%;
    margin-bottom: .5em;
    padding: 1em;
    border-radius: .5em;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
}

#audienciaTitulo {
    color: darkslategrey;
    font-size: 1.5em;
    font-weight: bolder;
    padding-top: .5em;
    padding-left: .5em;
}
.audienciaIconos {
    height: 7em;
    width: 98%;
    margin-bottom: .5em;
    border-radius: .5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: darkslategrey;
    background-color: white;
}

.audiencia2 {
    height: 7em;
    width: 33.3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;

    color: darkslategrey;
}
.seguidoresFake {
    height: 7em;
    width: 33.3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.2em;
    font-weight: bold;
    color: darkslategrey;

}
.audienciaReal {
    height: 7em;
    width: 33.3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.2em;
    font-weight: bold;


}
.audienciaDistribucionEdad {
    height: 14em;
    width: 98%;
    margin-bottom: .5em;
    border-radius: .5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
}
.audiencia {
    height: 13em;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.audienciaGenero {
    height: 12em;
    width: 15.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: .5em;

    background-color: white;
}
.audienciaPais {
    height: 12em;
    width: 15.5em;
    padding: 1em; 

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: .5em;

    background-color: white;
} 
 .columnMed {
    height: 39.2em;
    width: 33.3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.publicacionesTitulo {
    height: 4em;
    width: 100%;
    margin-bottom: .5em;
    padding: 1em;
    border-radius: .5em;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
}

#publicacionesTitulo {
    color: darkslategrey;
    font-size: 1.5em;
    font-weight: bolder;
    padding-top: .5em;
    padding-left: .5em;
}

.DistribucionTerritorios {
    height: 14em;
    width: 100%;
    margin-bottom: .5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(119, 30, 44);
}

.franjaHoraria {
    height: 7em;
    width: 100%;
    margin-bottom: .5em;
    border-radius: .5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
}

.marcas {
    height: 13em;
    width: 100%;
    border-radius: .5em;
    margin-bottom: .4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white   ;
}

.marcasTitulo {
    height: 3em;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.2em;
    color: darkslategrey;

}

.marcasDetail {
    height: 10em;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

/* DESEMPEÑO */

.columnDer {
    height: 39.2em;
    width: 33.3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.desempenoTitulo {
    height: 4em;
    width: 98%;
    margin-bottom: .4em;
    padding: 1em;
    border-radius: .5em;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
}

#desemepenoTitulo {
    color: darkslategrey;
    font-size: 1.5em;
    font-weight: bolder;
    padding-top: .5em;
    padding-left: .5em;
}

.desempnoIconos {
    height: 4em;
    width: 98%;
    margin-bottom: .4em;
    padding: 1em;
    border-radius: .5em;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.audienciaDesempeno {
    height: 2em;
    width: 98%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.audienciaAlcance {
    height: 2em;
    width: 98%;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;

}

.desempenoImpresiones {
    height: 6em;
    width: 98%;
    margin-bottom: .4em;
    border-radius: .5em;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
}

#desempenoImpresiones {
    height: 3em;
    width: 98%;
    padding-left: .5em ;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2em;
    font-weight: 1.2em;

}

#desempenoImpresionesData {
    height: 4em;
    width: 98%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.impresionesAlcance {
    height: 4em;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: solid rgba(128, 128, 128, 0.205);
    
}

.impresionesAudiencia {
    height: 4em;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.desempenoReproducciones {
    height: 6em;
    width: 98%;
    margin-bottom: .4em;
    border-radius: .5em;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
}

#vplays_formated {
    height: 4em;
    width: 98%;
    padding-left: .5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2em;
    font-weight: 1.2em;

}

#vplays_formatedData {
    height: 4em;
    width: 98%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.vr_alcance {
    height: 4em;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-right: solid rgba(128, 128, 128, 0.205);
}

.vr_audiencia {
    height: 4em;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.desempenoEngagement {
    
    height: 6em;
    width: 98%;
    margin-bottom: .4em;
    border-radius: .5em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
}

#engagement_formated {
    height: 4em;
    width: 98%;
    padding-left: .5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2em;
    font-weight: 1.2em;
}

#engagement_formatedData {
    height: 4em;
    width: 98%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.er_alcance {
    height: 4em;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-right: solid rgba(128, 128, 128, 0.205);
}
.er_audiencia {
    height: 4em;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.desempenoEngagementRatio {
    height: 15em;
    width: 98%;
    margin-bottom: .4em;
    border-radius: .5em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.options {
    font-size: 1em;
    margin-left: 7em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#salir {
    padding-left: 1em;
}

#salir:hover {
    height: 1.5em;
    transition: .5s;
    color: red;
    cursor: pointer;
}
#influcard {
        padding-left: 1em;
}

#influcard:hover {
    height: 1.5em;
    transition: .5s;
    color: red;
    cursor: pointer;
}
#perfil {
        padding-left: 1em;
}

#horaActualizada {
    font-size: .7em;
}

.card-text {
    padding: -1;
}

.marcasCards {
   
    height: 4em;
    width: 5em;
    margin: 0 1em ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}